.value {
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 30px;
    line-height: 1.2;
    letter-spacing: 0.04em;
    color: #252525;
  }
  
  .timer {
    display: flex;
    gap: 24px;
    justify-content: center;
  }
  
  .label {
    font-family: 'Montserrat', sans-serif;
    font-weight: 200;
    font-size: 16px;
    line-height: 1.5;
    color: #252525;
    text-transform: uppercase;
  }
  
  .field {
    display: flex;
    flex-direction: column;
  }
  
  button {
    border-radius: 8px;
    padding: 8px 16px;
    width: 75px;
    height: 40px;
    background-color: #1b5102;
    font-family: 'Montserrat', sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    border: none;
    margin: 0;
  }
  
  button:hover {
    background-color: #032a05;
  }
  
  button:disabled {
    background-color: #cfcfcf;
    color: #989898;
  }
  
  
  .datetime-picker {
    border: 1px solid #808080;
    border-radius: 4px;
    width: 272px;
    height: 40px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #2e2f42;
    padding: 0 16px;
    margin-right: 8px;
    margin-bottom: 12px;
  }
  .datetime-picker:active {
    border: 1px solid #054430;
  }
  .datetime-picker:hover {
    border: 1px solid #000;
  }
  
  .datetime-picker:disabled {
    border: 1px solid #808080;
    color: #808080;
    background: #fafafa;
  }